{% extends "_default/layout.base.twig" %}

{% block content %}

<h1>This is tigron/skeleton</h1>

<p>
	If you are reading this, you have successfully set up your skeleton project.<br>
	Get started by reading the pointers on our <a href="https://github.com/tigron/skeleton">GitHub</a> project page.
</p>

<p>
	Happy coding!
</p>

{% endblock content %}
