<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css" media="handheld, all" />
	<link rel="stylesheet" href="/jquery.ui.css" type="text/css" media="handheld, all" />
	<link rel="stylesheet" href="/jquery.ui.timepicker.css" type="text/css" media="handheld, all" />
	<link rel="stylesheet" href="/jquery.wysiwyg.css" type="text/css" media="handheld, all" />

	<script src="/jquery.js"></script>
	<script src="/jquery.ui.js"></script>
	<script src="/jquery.ui.timepicker.js"></script>
	<script src="/jquery.wysiwyg.js"></script>

	<meta name="description" content="Application" />
</head>
<body>
