<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ env.session.language.name_short }}" lang="{{ env.session.language.name_short }}">
<head>
	<title>Application</title>

	<meta name="description" content="Application" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="shortcut icon" href="http://10.2.0.22/favicon.ico">
	<link rel="stylesheet" href="/reset.css&/style.css&/jquery.ui.css&/jquery.ui.timepicker.css&/jquery.wysiwyg.css&/jquery.colorbox.css" type="text/css" media="handheld, all" />
	<script type="text/javascript" src="/jquery.js&/jquery.ui.js&/jquery.ui.timepicker.js&/jquery.wysiwyg.js&/jquery.colorbox.js&/base.js"></script>
</head>
<body>
