<h1>It works!</h1>

Welcome to your application :-)

<p>
	<a href="/index?action=edit&id=5">test</a><br>
	<a href="/index?action=list">test</a><br>
	<a href="/customer">test no variables</a>
</p>

{{ base.action_confirm() }}
